doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/public/css/CommonStyle.css")
    link(rel="stylesheet", href="/public/css/LayoutStyle.css")
    //- link( rel="stylesheet" href="https://unpkg.com/mvp.css")
    //백엔드에서 쏴주는 변수
    title=pageTitle
  body
    div(id="wrap")
      div(class="sub_gnb_wrap")
        div(class="sub_gnb_wrap_inner")
          h1(class="logo")
            a(href="/" title="스타벅스 메인 페이지" )
          nav(class="util_nav")
            ul
              li(class="util_nav01 sign_out" style="display:none;")
                a(href="/") Sign Out
              li(class="util_nav01 sign_in")
                a(href="/") Sign In
              li(class="util_nav02" required="login" data-href="/my/index.do") 
                a(href="/") My Starbucks
              li(class="util_nav03") 
                a(href="/") Customer Service & Ideas
              li(class="util_nav04") 
                a(href="/") Find a Store
          p(class="btn_search")
            a(href ="/")
              img(alt="통합검색" src="//image.istarbucks.co.kr/common/img/common/icon_magnifier_black.png")
        nav(class="sub_gnb_nav")
          div(class="sub_gnb_nav_inner")
            ul
              li(class="gnb_nav01")
                h2
                  a(href="/") COFFEE
              div(class="gnb_sub_wrap" style="display:block;")
                div(class="gnb_sub")
                  div(class="gnb_sub_inner")
                    ul
                      li(class="gnb_sub_ttl")
                        a(href="/") 커피
                      li
                          a(href="/") 스타벅스 원두
                          
              li(class="gnb_nav02")
                h2
                  a(href="/") MENU
              li(class="gnb_nav03")
                h2
                  a(href="/") STORE
              li(class="gnb_nav04")
                h2
                  a(href="/") RESPONSIBILTY
              li(class="gnb_nav05")
                h2
                  a(href="/") STARBUCKS REWARDS
              li(class="gnb_nav06")
                h2
                  a(href="/") WHAT'S NEW
               
    block content
  footer 
    a(href="#") 
    script(src="/public/js/Layout.js")

    