extends layout.pug

block content

    div(class="LeftList")
      ul(class="List-Field")
        li(class="List-CreateNote")
          a(href="#" onclick="ClickPlusNote();")
            span + Note


        li(class="List-FileLabel")
          span MyNoteFile

        li(class="List-Note-Data")

    div(class="Note-Edit-Field")
        div(class="EditNote" contenteditable="true" onkeydown="KeyEvent(event)")

    
    script(src="/public/js/NoteScript.js")
