extends layout.pug
    
block content
    span To Do List


    form(action="/todo" method="post")
        h1 나의 할 일
            div(class="timer") &nbsp;
            input(name="content" type="text" class="todoText")
            //input(type="submit" class="OkBtn" value="확인")

    ul(class="TodoList")
        //each item in todoList
            //li=item

    style(rel="stylesheet", href="/public/css/style.css")
    script(src="/public/js/TodoScript.js")